body {
	font-family: sans-serif;
}

header {
	background-color: #0772A1;
}

header h1 {
	text-align: center;
	color: white;
}

main {
	text-align: center;
	background-color: lightgray;
}

footer nav {
	text-decoration: none;
	color: white;
	text-align: center;
	border: 3px solid blue;
	border-radius: 30px;
	padding: 15px;
	margin: 30px;
}